body{
  background-color: #7effb2;
}

img{
  height: 40px;
  width: 40px;
  vertical-align: middle;
}

/*search box styling*/
.search-box{
  display: flex;
  background: white;
  border-radius: 1px;
  width: 39%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.search-content{
  padding: 30px 15px 30px 15px;
}

label{
  font-weight: bold;
  margin: 0.5rem 0;
  color:#464646;
}
input{
  margin-right: 15px;
  margin-left: 15px;
  padding: 6px 6px 6px 6px;
}
#search-pokemon{
  padding: 10px 15px 10px 15px;
}